<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>freelens</id>
    <title>Freelens</title>
    <version>${VERSION}</version>
    <authors>Freelens Authors</authors>
    <owners>9numbernine9</owners>
    <description>Freelens is a Kubernetes IDE that provides a graphical interface for managing and monitoring Kubernetes clusters.</description>
    <summary>Freelens is a Kubernetes IDE that provides a graphical interface for managing and monitoring Kubernetes clusters.</summary>
    <projectUrl>https://freelensapp.github.io/</projectUrl>
    <packageSourceUrl>https://github.com/freelensapp/freelens</packageSourceUrl>
    <docsUrl>https://github.com/freelensapp/freelens/blob/main/README.md</docsUrl>
    <bugTrackerUrl>https://github.com/freelensapp/freelens/issues</bugTrackerUrl>
    <iconUrl>https://freelensapp.github.io/images/freelens-logo.png</iconUrl>
    <licenseUrl>https://github.com/freelensapp/freelens/blob/main/LICENSE</licenseUrl>
    <tags>kubernetes k8s freelens lens</tags>
    <releaseNotes>https://github.com/freelensapp/freelens/releases/tag/v${VERSION}</releaseNotes>
  </metadata>
  <files>
    <file src="tools/**" target="tools" />
  </files>
</package>
