<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>zentimings</id>
    <title>ZenTimings</title>
    <version>${VERSION}</version>
    <authors>irusanov</authors>
    <owners>9numbernine9</owners>
    <description>A free, simple and lightweight app for monitoring memory timings on Ryzen platform.</description>
    <summary>A free, simple and lightweight app for monitoring memory timings on Ryzen platform.</summary>
    <projectUrl>https://zentimings.protonrom.com/</projectUrl>
    <packageSourceUrl>https://github.com/irusanov/ZenTimings</packageSourceUrl>
    <docsUrl>https://zentimings.protonrom.com/#faq</docsUrl>
    <bugTrackerUrl>https://github.com/irusanov/ZenTimings/issues</bugTrackerUrl>
    <iconUrl>https://cdn.statically.io/img/zentimings.protonrom.com/assets/img/logo.png</iconUrl>
    <licenseUrl>https://raw.githubusercontent.com/irusanov/ZenTimings/master/LICENSE</licenseUrl>
    <tags>ryzen benchmark diagnostic monitoring</tags>
    <releaseNotes>https://github.com/irusanov/ZenTimings/releases/tag/v${VERSION}</releaseNotes>
  </metadata>
  <files>
    <file src="tools/**" target="tools" />
  </files>
</package>
