<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>go-jira</id>
    <title>go-jira</title>
    <version>${VERSION}</version>
    <authors>coryb</authors>
    <owners>9numbernine9</owners>
    <description>A simple command line client for Atlassian's Jira service written in Go.</description>
    <summary>A simple command line client for Atlassian's Jira service written in Go.</summary>
    <projectUrl>https://github.com/go-jira/jira</projectUrl>
    <projectSourceUrl>https://github.com/go-jira/jira</projectSourceUrl>
    <packageSourceUrl>https://github.com/9numbernine9/chocolatey-packages</packageSourceUrl>
    <docsUrl>https://github.com/go-jira/jira/blob/master/README.md</docsUrl>
    <bugTrackerUrl>https://github.com/go-jira/jira/issues</bugTrackerUrl>
    <iconUrl></iconUrl>
    <licenseUrl>https://raw.githubusercontent.com/go-jira/jira/master/LICENSE</licenseUrl>
    <tags>atlassian jira</tags>
    <releaseNotes>https://github.com/go-jira/jira/releases/tag/v${VERSION}</releaseNotes>
  </metadata>
  <files>
    <file src="tools/**" target="tools" />
  </files>
</package>
