$packageName = "zentimings"
$url64 = 'https://github.com/irusanov/ZenTimings/releases/download/v${VERSION}/ZenTimings_v${VERSION}.zip'
$checksum64 = '${CHECKSUM64}'
$checksumType64 = 'sha256'

Install-ChocolateyZipPackage -PackageName "$packageName" `
    -Url64Bit $url64 `
    -Checksum64 $checksum64 `
    -ChecksumType64 $checksumType64

